<div class="row m-5">
    <div class="col-5 m-4">
        <div class="bg-burlywood">
            <div class="card-body">
                <h5 class="card-title">Start a thread</h5>
                <p class="card-text">Start a thread, but remember - it should be connected with ducks.</p>
                <a href="#" class="btn btn-brown">Start Thread</a>
            </div>
        </div>
    </div>
    <div class="col-5 m-4">
        <div class="bg-burlywood">
            <div class="card-body">
                <h5 class="card-title">Add a duck</h5>
                <p class="card-text">Add duck to the page. Remember to give some info about it.</p>
                <a href="{% url 'ducks:add' %}" class="btn btn-brown">Add Duck</a>
            </div>
        </div>
    </div>
</div>