{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    {{ thread.subject }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="border border-black rounded-2">
        <div class="p-2 d-flex justify-content-sm-start" role="group" aria-label="Basic example">
            <p class="d-inline me-5">Thread started by: <b>{{ thread.creator }}</b></p>
            {% if user.id == thread.creator.id or user.is_superuser %}
                <a href="{% url 'forum:delete-thread' pk=thread.id %}" class="btn btn-brown me-5">Delete</a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'forum:like-thread' pk=thread.id %}" class="btn btn-brown">Like Thread</a>
            {% endif %}
        </div>
        <h3 class="p-2 border-top border-bottom border-black">{{ thread.subject.title }}</h3>
        <div class="container mb-2 text-lg-start">
            <p>{{ thread.content }}</p>
        </div>
        <div class="container p-1 pt-5 d-flex justify-content-between">
            <p class="ms-2">Thread started at: {{ thread.date_at }}</p>
            <p class="me-5">Likes: {{ thread.likes }}</p>
        </div>
    </div>
    <br>
    {% if user.is_authenticated %}
        <form action="{% url 'forum:add-comment' pk=thread.id %}" method="post" class="d-inline">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-brown" type="submit">Add Comment</button>
        </form>
    {% endif %}
    <br>
    <h4 class="m-3 p-2 border-top border-bottom border-black">Answers</h4>
    {% for comment in comments %}
        <div class="p-2 border border-black rounded-2 mb-2 mt-2">
            <div class="p-1 d-flex justify-content-sm-start border-bottom border-black">
                <h6 class="card-header ">{{ comment.user }} ({{ comment.date_at }})</h6>
            </div>
            <div class="p-1 d-flex justify-content-sm-start">
                <p class="d-inline me-2">{{ comment.content }}</p>
            </div>
            <div class="d-flex justify-content-between">
                {% if user.is_authenticated %}
                    <a href="{% url 'forum:like-comment' thr_pk=thread.id com_pk=comment.id %}" class="btn btn-brown">
                        Like Comment
                    </a>
                {% endif %}
                {% if user.id == comment.user.id or user.is_superuser %}
                    <a href="{% url 'forum:delete-comment' pk=comment.id %}" class="btn btn-brown me-5">Delete</a>
                {% endif %}
                <p class="d-inline me-5">Likes: {{ comment.likes }}</p>
            </div>
        </div>
    {% empty %}
        <p>No comments</p>
    {% endfor %}
{% endblock %}
