{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ducks - {% block title %}{% endblock %}</title>

    {% block styles %}
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    {% endblock %}

    {% block scripts %}
        <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}

</head>
<body class="bg-burlywood">

{% include 'partials/navbar.html' %}
{% include 'partials/messages.html' %}

<div class="container text-center">
    <div class="row">
        <div class="col-2 m-3">
            {% block left-side %}{% endblock %}
        </div>
        <div class="col-8 m-3">
            {% block content %}

            {% endblock %}
        </div>
        <div class="col-2 m-3">
            {% block right-side %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>